.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.wraper {
  display: flex;
  flex-direction: row;
  justify-content: space-around
}

.mobilenav {
  display: grid;
  margin-top: 6%;
  background: cyan;
  /* text-align: center; */
}

/* .navlink{
  color: #000;
  text-decoration: none;
}
.navlink:active{
  color:red;

} */
.navlink {
  text-decoration: none;
}

@media screen and (max-width:768px) {

  .wraper {
    display: none;
  }
}

@media screen and (min-width:770px) {

  .mobilenav {
    display: none;
  }

  .toglebtn {
    display: none;
  }



}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.father {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
background: url("https://i.stack.imgur.com/SvWWN.png");

}

.form-todo
{
  width: 300px;
  height: 350px;
  min-height: 500px;
  border-radius: 2px solid #000;
  padding: 25px; 
  color: black;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  box-shadow: -2px 2px 15px #000;

}

input{
  border: 1px solid #000;
  border-radius: 10px;
  padding: 8px;
  background-color: #fff;
  box-shadow: inset -2px 2px  10px #000;
}

.plusbtn{
  padding: 8px;
    border: 2px solid #000;
    border-radius: 15px;
    width: 44px;
    box-shadow: inset;
    box-shadow: inset 2px 2px 10px #000;
}


/* list styling */


.water{
    border: 1px solid #000;
    border-radius: 10px;
    padding: 8px;
    background-color: #fff;
    box-shadow: inset -2px 2px  10px #000;
  width: 198px;
  color: #000;
}

.ultag{
  padding: 0px;
}